
<style>

    div.panel-primary {
        margin-right: 50px;
        width: 300px;
        border: 1px solid #0094ff;
        position: absolute;
        right: 0;
        bottom: 0;
        transition-duration: .1s;
    }

    div.panel-body {
        min-height: 400px;
    }

    div.panel-heading {
        cursor: pointer;
    }

    textarea {
        margin: 0px 12px;
    }

    div.chatMessages {
        border: 1px solid #ff0000;
        min-height: 300px;
        margin-bottom: 10px;
    }
</style>

<div class="content">
    <div class="panel panel-primary">

        <div class="panel-heading" data-toggle="collapse" data-target="#chat">
            <i class="fa fa-comment"></i> Clique aqui
        </div>

        <div class=" panel-body collapse" id="chat">
            <div class="">
                <div class=" chatMessages">
                    Bem-vindo
                </div>

                <div class="messageSend">
                    <form class="form">
                        <div class="form-inline">

                            <div class="row">

                                <textarea class="form-control" placeholder="Message" required></textarea>
                                <input type="submit" class="form-control btn btn-primary" value="Enviar">

                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
