@{
    ViewBag.Title = "Admin";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<div class="col col-md-12" style="border: solid 1px #eee;borde-radius:5px">
    <div class="col-md-9">

        <div class="col-md-12" style="min-height:520px">
        
        </div>
        <div class="col-md-12">
        <hr/>
            <form class="form-inline">
            <div class="form-group mb-10" style="width:90%">
                <label for="inputPassword2" class="sr-only">Password</label>
                <input type="text" class="form-control" id="inputPassword2" placeholder="message" style="width:100%">
            </div>
            <button type="submit" class="btn btn-primary mb-2">></button>
            </form>
        </div>
    </div>
    <div class="col-md-3" style="background:#eee;min-height:600px">
        <h3>Lista de Espera</h3>
        <hr>
    </div>
</div>
