@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Chat-Service</h1>
    <p class="lead">Bem-vindo ao nosso Chat Service, aqui você poderá entrar em contactos com a nossa equipa, para o fornecimento de ajuda com a utilização de ferramentas disponibilizadas para a constução de um aplicativo web!</p>
</div>


<div class="row ">

    <div class="container">

        <div class="col-md-4">
            <img src="/Content/image/service.jpg" alt="img" class="img-thumbnail" />
        </div>

        <div class="text-left">
            <h1>Web Chat</h1>

            <p>
                Aqui voce poderá entrar em contacto connosco, não espere mais, e entre em contacto!
            </p>
        </div>

    </div>

</div>

